<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/hy-styles.css">
        <link rel="icon" href="/img/up.ico">
    </head>

    <body>    
        <div class="main-content">
            {{>header}}
            <img class="portrait another-class" src="img/Ming arrival JFK NYC 20180826.jpg">
        </div>

        {{>footer}}
    </body>
</html>

